::selection {
  color: #036346; 
  text-shadow: 3px 3px 2px rgba(52, 27, 2, 0.5); 
  }
  
  .menu {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: rgba(118, 146, 110, 0.6);
  padding: 20px 10px;
  position: relative;
  }
  
  .curcle1 {
  box-sizing: border-box;
  width: 150px;
  height: 100px;
  }
  
  .menu-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
  }
  
  .menu-section > div {
  text-align: center; 
  margin-right: 70px;
  }
  
  .menu-section > div:last-child {
  margin-right: 0; 
  }
  
  .text {
  box-sizing: border-box;
  padding: 15px 20px;
  font: 400 24px "Fira Sans Condensed";
  color: black;
  background: rgba(41, 80, 10, 0.2);
  border-radius: 50px;
  white-space: nowrap
  }
  
  .text3 {
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;
  font: 500 30px "Fira Sans Condensed";
  color: rgb(1, 51, 23);
  background: rgba(204, 241, 175, 0.2);
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  }
  
  .sostav, .version2, .raschet, .info, .sbor {
  flex: 0 0 auto; 
  padding-top: 3px;
  }
  
  .osnova {
  box-sizing: border-box;
  min-width: 100%;
  padding: 46px 58px 139px;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 171px 0px 192px 10px;
  overflow: hidden;
  }
  
  .osnova::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("фон.jpg") center / cover no-repeat;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  opacity: 0.4;
  z-index: -1;
  }
  
  .title {
  margin: 0;
  font: 600 92px "Fira Sans Condensed", sans-serif;
  color: #1c3e02;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(52, 27, 2, 0.5); 
  overflow-wrap: break-word;
  }
  
  .osnova-text {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 76px;
  border-radius: 30px;
  background-color: rgba(96, 141, 105, 0.508);
  }
  
  .t1 {
  flex: 0 0 auto;
  margin: 0;
  font: 500 70px "Fira Sans Condensed", sans-serif;
  color: #1c3e02;
  text-align: left;
  }
  
  .t2 {
  flex: 0 1 auto;
  margin: 0;
  margin-left: 47px;
  font: 400 30px "Fira Sans Condensed", sans-serif;
  color: black;
  text-align: left;
  line-height: 2;
  }
  
  .quote {
  text-align: center;
  gap: 20px;
  font: 700 24px Balsamiq Sans;
  color: #023e39;
  }
  
  .title2 {
  text-align: center;
  font: 500 70px "Fira Sans Condensed", sans-serif;
  color: #1c3e02;
  }
  
  .sostav-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  }
  
  .sostav-section-left,
  .sostav-section-right {
  display: flex;
  flex-direction: column;
  width: 48%;
  box-sizing: border-box;
  }
  
  .sostav-layout1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  }
  
  .img {
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  }
  
  .section-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 471px;
  text-align: justify;
  flex-grow: 1;
  }
  
  .first-title {
  margin: 0;
  font: 500 32px "Fira Sans Condensed", sans-serif;
  white-space: pre-wrap;
  }
  
  .text2 {
  margin-top: 8px;
  font: 400 24px "Fira Sans Condensed", sans-serif;
  color: black;
  text-align: left;
  white-space: pre-wrap;
  }
  
  .rr-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: nowrap;
  }
  
  .rr-first, .rr-second, .rr-third {
  flex: 0 1 auto;
  margin: 0;
  margin-bottom: 5px;
  font: 400 32px "Fira Sans Condensed", sans-serif;
  color: #c4e3ba;
  line-height: 1;
  margin-right: 5px;
  margin-left: 20px;
  }
  
  .rr-first + .rr-second,
  .rr-second + .rr-third {
    margin-top: 20px;
  }
  
  .rr {
  max-width: 70%;
  flex: 1; 
  margin-right: 5px; 
  }
  
  .info-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  margin-top: 20px;
  padding: 0 30px; 
  }
  
  .rr-image {
  flex-shrink: 0;
  }
  
  .rr-image img {
  object-fit: cover; 
  max-height: 350px;
  max-width: 350px;
  margin-left: 5px;
  border-radius: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  }
  
  .info-container2 {
  display: flex;
  padding: 0 48px;
  }
  
  .heading1, .heading2 {
  font: 500 70px "Fira Sans Condensed", sans-serif;
  color: #1c3e02;
  text-align: center; 
  margin-bottom: 5px; 
  margin-top: 0px; 
  }
  
  .financial {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 24.5px;
  padding: 0 20px;
  }
  
  .info-container1,
  .financial2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  }
  
  .imgfin{
  height: 100%;
  max-height: 350px;
  max-width: 350px;
  width: 100%;
  margin: 0 20px;
  border-radius: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  flex-shrink: 0;
  }
  
  .img:hover {
  transform: scale(1.1);
  }
  
  .financial1 {
  display: flex;
  align-items: center;
  }
  
  .fin3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%; 
  max-height: 350px;
  margin-left: 10px;
  margin-right: 10px;
  }
  
  .fin-text, .fin-text2 {
  font: 400 32px "Fira Sans Condensed", sans-serif;
  color: #c4e3ba;
  text-align: left;
  line-height: 2; 
  }
  
  .fin-text2 {
  margin-left: 20px;
  margin-bottom: 90px;
  }
  
  .info-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  }
  
  span {
  color: #0f2101;
  }
  
  .fin4 {
  display: flex;
  align-items: center;
  }
  
  footer {
  background-color: rgb(12, 55, 2);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font: 400 30px "Fira Sans Condensed", sans-serif;
  }
  
  a {
  text-decoration: none; 
  }
  
  a:hover {
  color: #065442; 
  } 
  .quote {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }
  
  @keyframes slidein {
  0% {
      transform: translateX(100%); 
  }
  10% {
      transform: translateX(0); 
  }
  80% {
      transform: translateX(0); 
  }
  100% {
      transform: translateX(-100%); 
  }
  }
  
  /* Десктопы свыше 1600px */
  @media (min-width: 1601px) {
  .text {
    font-size: 28px;
  }
  .curcle1 {
    width: 160px;
    height: 110px;
  }
  .quote {
  font-size: 28px;
  }
  .img {
  width: 240px;
  height: 240px;
  }
  
  .first-title {
  font-size: 36px;
  }
  
  .text2 {
  font-size: 26px;
  }
  .rr-content {
  margin-left: 15px;
  margin-right: 30px;
  }
  
  .rr {
  max-width: 70%; 
  }
  
  .rr-first, .rr-second, .rr-third, .fin-text, .fin-text2, .text3, footer {
  font-size: 28px; 
  }
  
  .rr-image img {
  justify-content: right;
  width: 400px;
  }
  }
  /* Большие десктопы 1200px - 1600px */
  @media (max-width: 1600px) and (min-width: 1201px) {
  .text {
    font-size: 20px;
  }
  .curcle1 {
    width: 150px;
    height: 100px;
  }
  .img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
  }
  
  .first-title {
    font-size: 30px;
    margin-top: 10px;
  }
  
  .text2 {
    font-size: 25px;
  }
  
  .rr-content {
    margin-left: 15px;
    margin-right: 30px;
  }
  
  .rr {
    max-width: 70%; 
  }
  
  .rr-first, .rr-second, .rr-third, .fin-text, .fin-text2, .text3, footer {
    font-size: 30px; 
  }
  
  .rr-image img {
    justify-content: right;
    width: 350px;
  }
  }
  
  /* Средние десктопы 900px - 1200px */
  @media (max-width: 1200px) and (min-width: 901px) {
  .menu-section > div {
      margin-right: 10px;
  }
  .text  {
      font-size: 17px;
  }
  .curcle1 {
      width: 150px;
      height: 100px;
  }
  .title, .title2, .heading1, .heading2 {
    font-size: 74px;
  }
  .t1 {
    font-size: 60px;
  }
  .t2 {
    font-size: 24px;
  }
  .quote {
    font-size: 20px;
  }
  .img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
  }
  
  .first-title {
    font-size: 30px;
    margin-top: 10px;
  }
  
  .text2 {
    font-size: 24px;
  }
  .sostav-section-left,
  .sostav-section-right {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  }
  .section-text {
    max-width: 70%;
  }
  .rr-content {
    margin-left: 15px;
    margin-right: 20px;
  }
  
  .rr {
    max-width: 80%; 
  }
  
  .rr-first, .rr-second, .rr-third, .fin-text, .fin-text2, .text3, footer {
    font-size: 24px; 
  }
  
  .rr-image img {
    justify-content: right;
  }
  .imgfin {
    max-height: 300px;
    max-width: 300px;
  }
  }
  /* Планшеты альбомной ориентации 600px - 900px */
  @media (max-width: 900px) and (min-width: 601px) {
  .menu-section > div {
      margin-right: 5px;
  }
  
  .text  {
      font-size: 14px;
  }
  .curcle1 {
      width: 100px;
      height: 70px;
  }
  .title, .title2, .heading1, .heading2 {
    font-size: 45px;
  }
  .t1 {
    font-size: 50px;
  }
  .t2 {
    font-size: 18px;
  }
  .quote {
    font-size: 16px;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  
  .first-title {
    font-size: 20px;
  }
  
  .text2 {
    font-size: 18px;
  }
  .sostav-section-left,
  .sostav-section-right {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  }
  .section-text {
    max-width: 70%;
  }
  .rr-content {
    margin-left: 15px;
    margin-right: 20px;
  }
  
  .rr {
    max-width: 80%; 
  }
  
  .rr-first, .rr-second, .rr-third, .fin-text, .fin-text2, .text3, footer {
    font-size: 18px; 
  }
  
  .rr-image img {
    justify-content: right;
  }
  .imgfin {
    max-height: 300px;
    max-width: 300px;
  }
  }
  
  /* Планшеты портретной ориентации и большие смартфоны 480px - 600px */
  @media (max-width: 600px) and (min-width: 481px) {
  .menu-section > div {
      margin-right: 0px;
  }
  .text {
      font-size: 10px;
  }
  .curcle1 {
      width: 80px;
      height: 50px;
  }
  .title, .title2, .heading1, .heading2 {
    font-size: 30px;
  }
  .t1 {
    font-size: 40px;
  }
  .t2 {
    font-size: 14px;
  }
  .quote {
    font-size: 10px;
  }
  .img {
    width: 120px;
    height: 120px;
  }
  
  .first-title {
    font-size: 18px;
  }
  
  .text2 {
    font-size: 14px;
  }
  .rr-content {
    margin-left: 15px;
    margin-right: 20px;
  }
  
  .rr {
    max-width: 80%; 
  }
  
  .rr-first, .rr-second, .rr-third, .fin-text, .fin-text2, .text3, footer {
    font-size: 14px; 
    margin-right: 10px;
  }
  
  .rr-image img {
    justify-content: right;
  }
  .imgfin {
    max-height: 100px;
    max-width: 100px;
  }
  }